# SPDX-FileCopyrightText: 2025 German Aerospace Center
#
# SPDX-License-Identifier: CC0-1.0

# Ignore Python specific temporarily created files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Ignore automatically created files by Jetbrains as PyCharm, IntelliJ
.idea/
# Ignore everything in the inputs directory
inputs/**
# Allow tracking of CSV files in the inputs directory and subdirectories
!inputs/**/*.csv

# Ignore everything in the outputs folder
outputs/*
# Except the specific PDF in the 'outputs/figures/' folder
!outputs/figures/
